extends layout.pug
include utils.pug
block content
    script(src="/scripts/add-new-movie.js" type="module")
    script(src="/scripts/critic.js" type="module")
    +handleErrors(errors)
    h2= critic.name
    h3 Add or Select a New Favorite Movie
    form(action=`/critics/${critic.id}/favorites/add` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +addMovieFormFields("critic")
        button(type="submit") Add Favorite

    h3 #{critic.name}'s Favorite Movies
    +displayMovies(favoriteMovies, "criticFavorites")

    h3 Notes on #{critic.name}
    form(action=`/critics/${critic.id}/notes` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        if (favoriteCritic.notes)
            textarea(name="criticNotes")= favoriteCritic.notes
        else
            textarea(name="criticNotes" ) Add a note
        br
        button(type="submit") Save Note
