extends layout.pug
include utils.pug
block content
    script(src="/scripts/add-new-movie.js" type="module")
    script(src="/scripts/director.js" type="module")

    +handleErrors(errors)
    h2= director.name

    h3 Movies Directed by #{director.name}
    if (directedMovies.length)
        +displayMovies(directedMovies, "moviesDirected")
    else
        p No movies added yet
    button(id="add-directed-button") Add

    h3 #{director.name}'s Favorite Movies
    if (favoriteMovies.length)
        +displayMovies(favoriteMovies, "moviesLiked")
    else
        p No movies added yet
    button(id="add-favorite-button") Add

    form(action=`/directors/${director.id}/favorites/add` id="add-favorite-form" method="post" hidden)
        input(type="hidden" name="_csrf" value=csrfToken)
        +addMovieFormFields("director")
        button(type="submit") Submit
        a(href=`/directors/${director.id}`) Cancel

    form(action=`/directors/${director.id}/movies-directed/add` id="add-directed-form" method="post" hidden)
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Title", "title")
        br
        label(for="yearReleased") Year Released (optional)
        select(name="yearReleased")
            each year in years
                option(value=year)= year
        br
        +field("Image Link (optional)", "imageLink")
        button(type="submit") Add
        a(href=`/directors/${director.id}`) Cancel

    h3 Notes on #{director.name}
    form(action=`/directors/${director.id}/notes` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        if (favoriteDirector && favoriteDirector.notes)
            textarea(name="directorNotes")= favoriteDirector.notes
        else
            textarea(name="directorNotes" ) Add a note
        br
        button(type="submit") Save Note
