extends layout.pug
include utils.pug
block content
    h3 Add a Favorite Movie
    form(action=`/directors/${director.id}/favorites/add` method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="selectFavorite") Choose a Movie
            select(name="selectFavorite")
                each movie in movies
                    option(value=movie.title)= movie.title
            label() Or Add a New Movie
            +field("Title", "title")
            label(for="directorId") Choose or Add a Director
            input(name="directorId" list="directors")
            datalist(id="directors" name="directors")
                each director in directors
                    option(value=director.name)
            label(for="yearReleased") Year Released
            select(name="yearReleased")
                each year in years
                    option(value=year)= year
            +field("Image Link", "imageLink")
            button(type="submit") Add Favorite
            a(href=`directors/${director.id}`) Cancel

    h3 Director
    span= director.name

    h3 Movies Directed
    ul
        each directedMovie in directedMovies
            li= directedMovie.title

    h3 Favorite Movies
    ul
        each favoriteMovie in favoriteMovies
            li= favoriteMovie.title
