extends layout.pug
include utils.pug
block content
    link(rel='stylesheet' href='/stylesheets/add-form.css')
    script(src="/scripts/movie.js" type="module")
    h2= movie.title
    main
        div(id="form-container")
            form(id=`${movie.id}` class="movie-edit-form")
                input(type="hidden" name="_csrf" value=csrfToken)
                +movieInfoFields()
                br
                +userNoteFields(userCollections, movieCollections, movieCollectionNames)
                br
                button(type="submit") Update

            if (movie.favoritedByDirectors.length || movie.Critics.length)
                h3 Liked By
                ul
                    if (movie.favoritedByDirectors.length)
                        each director in movie.favoritedByDirectors
                            li
                                a(href=`/directors/${director.id}`) #{director.name}
                    if (movie.Critics.length)
                        each critic in movie.Critics
                            li
                                a(href=`/critics/${critic.id}`) #{critic.name}
