extends layout.pug
block content
    h2 User Home
    each collection in collections
        div
            table= collection.name
                thead
                    tr
                        th Title
                        th Director
                        th Year Released
                        th Image
                tbody
                    each movie in collection.movies
                        tr
                            td= movie.title
                            td= movie.director
                            td= movie.yearReleased
                            td= movie.imageLink
            br
            br
    div.starRating
        input(type="radio" id="five" name="starRating" value="5")
        label(for="five" )

        input(type="radio" id="four" name="starRating" value="4")
        label(for="four")

        input(type="radio" id="three" name="starRating" value="3")
        label(for="three")

        input(type="radio" id="two" name="starRating" value="2")
        label(for="two")

        input(type="radio" id="one" name="starRating" value="1")
        label(for="one")
