extends layout.pug
include utils.pug
block content
    script(src="/scripts/index.js" type="module")
    script(src="/scripts/collections.js" type="module")
    script(src="/scripts/movies.js" type="module")
    link(rel='stylesheet' href='/stylesheets/home-page.css')
    main
        h2 User Home
        div(id="sidebar")
            h3 Your Collections
            ul

            each collection in collections
                li
                    a(id=`collection-${collection.id}-link` class='collection-link' href=`/collections/${collection.id}`)= collection.name
            a(href="/collections/add")
                    button Add Collection
            h3 Your Favorite Directors
            ul
                each favoriteDirector in favoriteDirectors
                    li
                        a(href=`/directors/${favoriteDirector.id}`)= favoriteDirector.name
            a(href="/favorite-directors/add")
                button Add Favorite Director

            h3 Your Favorite Critics
            ul
                each favoriteCritic in favoriteCritics
                    li
                        a(href=`/critics/${favoriteCritic.id}`)= favoriteCritic.name
            a(href="/favorite-critics/add")
                    button Add Favorite Critic

            h3 Recommended for You
            ul
                li Movie with most tags
                li Movie with second most tags
                li Etc.


        div(id="main-collection-display")
            div(id=`collection-container-${displayCollection.id}`).collection-box
                h3
                    a(href=`/collections/${displayCollection.id}`)= displayCollection.name
                +displayMovies(displayCollection.movies)
                a(href=`/collections/${displayCollection.id}`) Add Movie
                button(id=displayCollection.id).delete-collection Delete Collection
