extends layout.pug
include utils.pug
block content
    script(src="/scripts/index.js" type="module")
    script(src="/scripts/collections.js" type="module")
    script(src="/scripts/movies.js" type="module")
    script(src="/scripts/search.js" type="module")
    link(rel='stylesheet' href='/stylesheets/home-page.css')

    main
        div(class="form-container")
            form(action="/search" id="search-form")
                input(type="search" id="search-bar" name="q" list="search-results")
                //- button(type="submit" id="search-button") Search
                img(src="/images/search-icon.png" width="20px" height="20px")
        div(class="search-results-container")
            ul(class="search-results-list" id="search-results-list")

        h2 User Home
        div(id="sidebar")
            h3 Your Collections
            ul
            each collection in collections
                li
                    a(id=`collection-${collection.id}-link` class='collection-link' href=`/collections/${collection.id}`)= collection.name
            a(href="/collections/add")
                    button Add Collection

            h3 Your Favorite Directors
            ul
                each favoriteDirector in favoriteDirectors
                    li
                        a(href=`/directors/${favoriteDirector.id}`)= favoriteDirector.name
            a(href="/favorite-directors/add")
                button Add Favorite Director

            h3 Your Favorite Critics
            ul
                each favoriteCritic in favoriteCritics
                    li
                        a(href=`/critics/${favoriteCritic.id}`)= favoriteCritic.name
            a(href="/favorite-critics/add")
                    button Add Favorite Critic

        div(id="display")
            each collection in collections
                if collection.name === "Most Recommended"
                    div(id=`collection-container-${collection.id}` class="recommended" hidden)
                        h3= collection.name
                        +displayMovies(collection.movies, "recCollection")
                else
                    div(id=`collection-container-${collection.id}` hidden)
                        a(href=`/collections/${collection.id}`)= collection.name
                        +displayMovies(collection.movies, "home")
                        a(href=`/collections/${collection.id}`) Add Movie
                        button(id=collection.id).delete-collection Delete Collection
