mixin validationErrorSummary(errors)
    if errors
        p The following errors occurred:
        ul
            each error in errors
                li= error


mixin field(labelText, fieldName, fieldType='text', fieldValue='', placeholder=null)
    div
        label(for=fieldName)= labelText
        if fieldType === 'textarea'
            textarea(id=fieldName name=fieldName)= fieldValue
        else
            input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)


mixin movieInfoFields()
    +field("Title", "title")
    br
    label(for="directorId") Choose or Add a Director
    input(name="directorId" list="directors")
    br
    datalist(id="directors" name="directors")
        each director in directors
            option(value=director.name)
    br
    label(for="yearReleased") Year Released (optional)
    select(name="yearReleased")
        option() --Year--
        each year in years
            option(value=year)= year
    br
    +field("Image Link (optional)", "imageLink")


mixin addMovieFormFields()
    label(for="selectMovie") Choose a Movie
    select(name="selectMovie")
        option(value="--Choose Movie--") --Choose Movie--
        each movie in movies
            option(value=movie.title)= movie.title
    br
    text Or Add a New Movie
    +movieInfoFields()


mixin userNoteFields()
    if locals.authenticated
        span Rating
        div.starRating
            input(type="radio" id="five" name="starRating" value="5")
            label(for="five" )
            input(type="radio" id="four" name="starRating" value="4")
            label(for="four")
            input(type="radio" id="three" name="starRating" value="3")
            label(for="three")
            input(type="radio" id="two" name="starRating" value="2")
            label(for="two")
            input(type="radio" id="one" name="starRating" value="1")
            label(for="one")
        br
        label(for="review") Review
        textarea(name="review", cols="30", rows="10")
        br
        label(for="collectionList") Add This Movie to a Collection or Create a New Collection
        input(name="collectionList" list="collectionList")
        br
        datalist(id="collectionList" name="collectionList")
            if collections
                each collection in collections
                    option(value=collection.name)
        br
        +field("Watched", "watchedStatus", "radio", "1")
        +field("Want to Watch", "watchedStatus", "radio", "0")


mixin displayMovie(movie)
    table= movie.title
        thead
            tr
                th Director
                th Year Released
                th Image
        tbody
            tr
                td= director.name
                td= movie.yearReleased
                if movie.imageLink
                    td
                        img(src=`${movie.imageLink}`)
                else
                    td
                        div.poster-placeholder
                            span +

    br


mixin displayMovies(movies)
    table
        thead
            tr
                th Title
                th Director
                th Year Released
                th Image
                th Review
                th Rating
                th Status
                if (collection)
                    th Loved By
                th

        tbody
        each movie in movies
            tr
                td
                    a(href=`/movies/${movie.id}`) #{movie.title}
                td= movie.director
                td= movie.yearReleased
                if movie.imageLink
                    td
                        img(src=movie.imageLink width=60 height=90)
                else
                    td
                        div.poster-placeholder
                            span +
                if movie.review
                    td= movie.review
                else
                    td
                        div.review-placeholder
                td
                    div.starRating
                        //- DO SOMETHING WITH movie.rating
                        input(type="radio" id="five" name="starRating" value="5")
                        label(for="five" )
                        input(type="radio" id="four" name="starRating" value="4")
                        label(for="four")
                        input(type="radio" id="three" name="starRating" value="3")
                        label(for="three")
                        input(type="radio" id="two" name="starRating" value="2")
                        label(for="two")
                        input(type="radio" id="one" name="starRating" value="1")
                        label(for="one")

                if movie.watchedStatus
                    td Watched
                else
                    td Want to Watch
                if (collection)
                    td
                        ul
                        if (movie.likedByCritics)
                            each critic in movie.likedByCritics
                                li= critic.name
                        if (movie.likedByDirectors)
                            each director in movie.likedByDirectors
                                li= director
                td
                    a(href=`/movies/${movie.id}`) edit
