
mixin validationErrorSummary(errors)
    if errors
        p The following errors occurred:
        ul
            each error in errors
                li= error


mixin field(labelText, fieldName, fieldType='text', fieldValue='', placeholder=null)
    div
        label(for=fieldName)= labelText
        if fieldType === 'textarea'
            textarea(id=fieldName name=fieldName)= fieldValue
        else
            input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)


mixin movieInfoFields()
    if (movie)
        +field("Title", "title", "text", movie.title)
    else
        +field("Title", "title")
    br
    label(for="directorName") Choose or Add a Director
    if (director)
        input(name="directorName" list="directors" value=`${director.name}`)
    else
        input(name="directorName" list="directors")
    br
    datalist(id="directors" name="directors")
        each director in directors
            option(value=director.name)
    br
    label(for="yearReleased") Year Released (optional)
    if (movie)
        select(name="yearReleased")
            option()= movie.yearReleased
            each year in years
                option(value=year)= year
    else
        select(name="yearReleased")
            option() --Year--
            each year in years
                option(value=year)= year
    br
    if (movie)
        +field("Image Link (optional)", "imageLink", "", movie.imageLink)
    else
        +field("Image Link (optional)", "imageLink")


mixin addMovieFormFields()
    div.search-movies
        label(for="selectMovie") Search Movies:
        br
        select(name="selectMovie")
            option(value="--Choose Movie--") --Choose Movie--
            each movie in movies
                option(value=movie.title)= movie.title
        br
        br
        text ...Or Create New Movie
        button(id="add-movie-button") v
        br
    div.add-new-movie
        +movieInfoFields()


mixin userNoteFields(userCollections, movieCollections, movieCollectionNames, isAddCollection=false)
    if locals.authenticated
        div.add-new-movie
            h4 Your Notes (optional):
            span Rating
            if (userNotes && userNotes.rating)
                span= userNotes.rating
                div.starRating
                    if (userNotes.rating === 5)
                        input(type="radio" id="five" name="starRating" value="5" checked)
                    else
                        input(type="radio" id="five" name="starRating" value="5")
                    label(for="five" )

                    if (userNotes.rating === 4)
                        input(type="radio" id="four" name="starRating" value="4" checked)
                    else
                        input(type="radio" id="four" name="starRating" value="4")
                    label(for="four")

                    if (userNotes.rating === 3)
                        input(type="radio" id="three" name="starRating" value="3" checked)
                    else
                        input(type="radio" id="three" name="starRating" value="3")
                    label(for="three")

                    if (userNotes.rating === 2)
                        input(type="radio" id="two" name="starRating" value="2" checked)
                    else
                        input(type="radio" id="two" name="starRating" value="2")
                    label(for="two")

                    if (userNotes.rating === 1)
                        input(type="radio" id="one" name="starRating" value="1" checked)
                    else
                        input(type="radio" id="one" name="starRating" value="1")
                    label(for="one")
            else
                div.starRating
                    input(type="radio" id="five" name="starRating" value="5")
                    label(for="five" )
                    input(type="radio" id="four" name="starRating" value="4")
                    label(for="four")
                    input(type="radio" id="three" name="starRating" value="3")
                    label(for="three")
                    input(type="radio" id="two" name="starRating" value="2")
                    label(for="two")
                    input(type="radio" id="one" name="starRating" value="1")
                    label(for="one")
            br
            label(for="review") Notes
            if (userNotes && userNotes.review)
                textarea(name="review", cols="30", rows="10")= userNotes.review
            else
                textarea(name="review", cols="30", rows="10")
            br

            if (isAddCollection === false)
                if (movieCollections)
                    span Belongs to Collections:
                    ul
                        each collection in movieCollections
                            if (collection.name !== "Most Recommended" && collection.name !== "Want to Watch")
                                a(href=`/collections/${collection.id}`)= collection.name

                label(for="collectionList") Add This Movie to a Collection or Create a New Collection
                input(name="collectionList" list="collectionList")
                br
                datalist(id="collectionList" name="collectionList")
                    if userCollections
                        each collection in userCollections
                            if (collection.name !== "Most Recommended" && collection.name !== "Want to Watch" && !movieCollectionNames.includes(collection.name))
                                option(value=collection.name)
                br
                if (userNotes && userNotes.watchedStatus === true)
                    fieldset
                        div
                            input(type="radio" id="watched" name="watchedStatus" value="1" checked)
                            label(for="watched") Watched
                        div
                            input(type="radio" id="wantToWatch" name="watchedStatus" value="0")
                            label(for="wantToWatch") Want To Watch
                else if (userNotes && userNotes.watchedStatus === false)
                    fieldset
                        div
                            input(type="radio" id="watched" name="watchedStatus" value="1")
                            label(for="watched") Watched

                        div
                            input(type="radio" id="wantToWatch" name="watchedStatus" value="0" checked)
                            label(for="wantToWatch") Want To Watch
                else
                    fieldset
                        div
                            input(type="radio" id="watched" name="watchedStatus" value="1")
                            label(for="watched") Watched
                        div
                            input(type="radio" id="wantToWatch" name="watchedStatus" value="0")
                            label(for="wantToWatch") Want To Watch


mixin displayMovie(movie)
    h2= movie.title
    table
        thead
            tr
                th Director
                th Year Released
                th Image
        tbody
            tr
                td= director.name
                td= movie.yearReleased
                if movie.imageLink
                    td
                        img(src=`${movie.imageLink}`)
                else
                    td
                        div.poster-placeholder
                            span
    br


mixin displayMovies(movies, location)
    table
        thead
            tr
                if (location === "recCollection")
                    th Recommended Score
                th
                th Title
                th Director
                th Year Released
                if (locals.authenticated)
                    th Notes
                    th Rating
                    th Status
                    th Liked By
                    th

        tbody
            each movie in movies
                tr(id=`movie-container-${movie.id}`).movie-box
                    if (location === "recCollection")
                        td= movie.recommendedScore
                    if movie.imageLink
                        td
                            img(src=movie.imageLink width=60 height=90)
                    else
                        td
                            div.poster-placeholder
                    td
                        a(href=`/movies/${movie.id}`) #{movie.title}
                    td
                        a(href=`/directors/${movie.directorId}`)= movie.director
                    td= movie.yearReleased

                    if (locals.authenticated)
                        if movie.review
                            td
                                a(href=`/movies/${movie.id}`) View
                        else
                            td
                                a(href=`/movies/${movie.id}`) Add Notes
                        if movie.rating
                            td
                                if (movie.rating === 5)
                                    span.solid-star
                                    span.solid-star
                                    span.solid-star
                                    span.solid-star
                                    span.solid-star
                                if (movie.rating === 4)
                                    span.solid-star
                                    span.solid-star
                                    span.solid-star
                                    span.solid-star
                                    span.empty-star
                                if (movie.rating === 3)
                                    span.solid-star
                                    span.solid-star
                                    span.solid-star
                                    span.empty-star
                                    span.empty-star
                                if (movie.rating === 2)
                                    span.solid-star
                                    span.solid-star
                                    span.empty-star
                                    span.empty-star
                                    span.empty-star
                                if (movie.rating === 1)
                                    span.solid-star
                                    span.empty-star
                                    span.empty-star
                                    span.empty-star
                                    span.empty-star
                        else
                            td
                                span.empty-star
                                span.empty-star
                                span.empty-star
                                span.empty-star
                                span.empty-star

                        if movie.watchedStatus === true
                            td Watched
                        else if movie.watchedStatus === false
                            td Want to Watch
                        else
                            td
                        td
                            if (movie.likedByCritics && movie.likedByCritics.length)
                                ul
                                each critic in movie.likedByCritics
                                    li= critic.name
                            if (movie.likedByDirectors && movie.likedByDirectors.length)
                                ul
                                each director in movie.likedByDirectors
                                    li= director.name
                        td
                            a(href=`/movies/${movie.id}`) edit
                        if (location === "moviesPage")
                            td
                                button(id=movie.id).delete-btn Delete
                        else if (location === "moviesDirected")
                            td
                        else
                            td
                                button(id=movie.id).remove-btn Remove
